{% extends 'blogs/base.html' %}

{% block page_header %}
    <h3>{{ blog }}</h3>
{% endblock page_header %}

{% block content %}
    {% if blog.owner == request.user %}
        <p>
            <a href="{% url 'blogs:new_entry' blog.id %}">Add a new entry</a>
        </p>
    {% else %}
        <p>You aren't allowed to add entries for blogs you don't own.</p>
    {% endif %}

    {% for entry in entries %}
        <div class="card mb-3">
            <h4 class="card-header">
                {{ entry.date_added|date:'M d, Y H:i' }}
                <small><a href="{% url 'blogs:edit_entry' entry.id %}">
                    edit entry</a></small>
            </h4>
            <div class="card-body">
                {{ entry.text|linebreaks }}
            </div>
        </div>
    {% empty %}
        <li>There are no entries for this blog yet.</li>
    {% endfor %}

{% endblock content %}