{% extends 'blogs/base.html' %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">The most interesting blogs</h1>

        <p class="lead">Welcome to the My Blog. I hope it will become
            richer in content as the times goes by. You can add your own content
            and start a writing journey by making a user account. Good luck!</p>

        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
            role="button">Register &raquo;</a>
    </div>
{% endblock page_header %}