{% extends 'blogs/base.html' %}

{% block page_header %}
    <div class="jumbotron">
        <h1 class="display-3">Follow my blog</h1>

        <p class="lead">Welcome to my personal blog. I hope it will become
            richer in content as the times goes by. Regardless of my writing,
            you can add your own content by making a user account.</p>

        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
            role="button">Register &raquo;</a>
    </div>
{% endblock page_header %}